.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: none;
  background: #ecf0f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-body {
  flex: 1;
  display: flex;
  height: 100%;
}
